.post-container {
  width: max-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px);
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-container .content {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.post-container .post-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

.post-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.post-container .form {
  margin-top: 20px;
}

.post-container .form input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post-container .form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-container .header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-container .name {
  font-weight: bold;
  margin-right: 5px;
}

.comment-container .img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto;
}

.comment-container .content {
  margin-top: 5px;
}

.comment-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;

  .content {
    margin-top: 5px;
  }
}

.error-msg {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 10px;
  color: red;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .name {
    font-weight: bold;
    margin-right: 5px;
  }

  .img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;
  }
}
